body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mainContainer{
    display: grid;
    grid-template-columns: repeat(11,110px);
    grid-template-rows: repeat(9,80px);
}
    .sectionsContainer{
        background-color: rgb(24, 132, 247);
        grid-column: 1/3;
        grid-row: 1/10;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:repeat(10, 1fr) ;
    }

        .logoSection{
            grid-column: 1/4;
            grid-row: 1/3;
        }
        .menuSection{
            grid-column: 1/4;
            grid-row: 3/8;
        }
        .settingsSection{
            grid-column: 1/4;
            grid-row: 8/11;
        }
    .accountContainer{
        background-color: rgb(255, 255, 255);
        grid-column: 3/12;
        grid-row: 1/3;

        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
        .searchBar{
            grid-column: 1/7;
        }
        .account{
            grid-column: 8/11;
        }
        .welcome{
            grid-column: 1/6;
            grid-row: 2/4;
        }
        .actions{
            grid-column: 7/11;
            grid-row: 2/4;
        }
    
    .contentContainer{
        background-color: rgb(225, 225, 225);
        grid-column: 3/12;
        grid-row: 3/10;
    }
